/* make sidebar nav vertical */
@media ( min-width : 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar ul {
		float: none;
	}
	.sidebar-nav .navbar ul:not {
		display: block;
	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.sidenav {
		background-color: #fff;
	}
	.side-menu .navbar navbar-default {
		background: #fff;
		border: none;
	}
	.side-menu .navbar-default {
		background: #fff;
		border: none;
		!
		important
	}
	.side-menu li a {
		background: #337ab7;
		color: #fff !important;
	}
	.side-menu li.active a {
		background: #337ab7 !important;
		color: #fff;
	}
	.side-menu li a:hover {
		background: #337ab7 !important;
		color: #000 !important;
	}
	.sidenav {
		padding: 0;
	}
	.side-menu .sidebar-nav .navbar {
		padding-top: 0;
	}
}